 /* nav-section start */
 #nav-section{
    max-width:1600px;
    display: flex;

 }

 #nav-section .nav-image{
    max-width:139px;
    max-height: 60px;
    margin:16px 0 16px 120px;
 }
 #nav-section ul{
    display: flex;
    align-items: center;
    gap:32px;
    margin:34px auto;
      
 }
 #nav-section ul li{
    list-style: none;
  
 }
 #nav-section ul li a{
    text-decoration: none;
    color:#000000;
 }
 #nav-section .nav-btn button {
    padding:12px 16px;
    background-color: #469165;
    margin:24px 120px 24px 0;
    font-size: 18px;
    font-weight: 600px;
    color:#FFFFFF;
    border-radius: 5px;
    border: none;
    cursor:pointer;
  
 }
 #nav-section .nav-btn button:hover{
    transition: 1s ease;
    transform: rotateX(360deg);
 }
  /* nav section is end  */